In [2]:
# Install BigQuery client library (run this cell once)
%pip install google-cloud-bigquery --quiet
%pip install bigquery-magics --quiet
%pip install db-dtypes --quiet
# Import libraries
from google.cloud import bigquery
import pandas as pd
%load_ext bigquery_magics
import db_dtypes
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "salesforce-465614-2cf9e37da64b.json"
from google.cloud import bigquery
# Initialize BigQuery client
client = bigquery.Client()

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

<b>DQ for Stage_Customers</b>

<b> Duplicate check for customer IDs</b>

In [35]:
%%bqsql
select customer_id,count(1) from salesforce-465614.cust_analytics.stage_customers 
group by customer_id having count(1)>1  limit 2

Query is running:   0%|          |

Downloading:   0%|          |

                            customer_id  f0_
0  2ea0add8-4c7e-45b8-8b5c-193872b7557a    2
1  9a33f82f-60bd-4d41-accb-77a52f830d09    2

<b>#signup date is in future.</b>

In [37]:
%%bqsql
select count(1) from salesforce-465614.cust_analytics.stage_customers where date(signup_date) > current_date();

Query is running:   0%|          |

Downloading:   0%|          |

   f0_
0    5

In [39]:
%%bqsql
delete from salesforce-465614.cust_analytics.stage_customers where age < 15 or age > 100

Query is running:   0%|          |

Empty DataFrame
Columns: []
Index: []

In [41]:
%%bqsql
select * from salesforce-465614.cust_analytics.stage_stores limit 2

Query is running:   0%|          |

Downloading:   0%|          |

  store_id store_type store_location region
0  STORE_2     Online           None   East
1  STORE_6     Online           None   East